.technique-swiper {
	&__wrapper {
		height: 190px;
		&.active {
			height: 190px;
		}
	}

	&__slide {
		height: 160px;
		align-items: flex-start;
		padding: 16px;
		& {
		}
	}
	&__btn {
	}
}

@media (min-width: 768px) {
	.technique-swiper {
		&__wrapper {
			overflow: hidden;
			height: 170px;
			&.active{
				height: 100%;
			}
		}
	}
}
