.technique {
	margin-bottom: 25px;
	@media (min-width: 768px){
		margin-bottom: 30px;
	}
	@media (min-width: 1440px){
		margin-bottom: 50px;
	}
	&__swiper {
		width: 100%;
	}
	&__section-title {
		margin-bottom: 24px;
	}
}