.info-content {
	&__body {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	&__text-body {
		margin-bottom: 16px;
		overflow: hidden;
		&.active .info-content__text_none {
			height: auto;
			padding-top: 30px;
		}
	}
	&__text {
		font-size: $fz14;
		line-height: $lh128;
		letter-spacing: $ls02;
		&_none{
			overflow: hidden;
			height: 0px;
			@media (min-width: 768px){
				padding-top: 30px;
				height: 67px;
			}
		}
	}
	&__btn {
		margin-top: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		background: transparent;
	}
	&__btn::before {
		content: '';
		width: 24px;
		height: 24px;
	}
	&__btn:hover {
		text-decoration: underline;
		text-underline-offset: 5px;
	}
	&__btn:hover::before {
		animation: btnIconAnim 2s infinite forwards ease-in-out;
	}
	
	&__img {
		max-width: 531px;
		margin: 0 -16px;
	}
	&__img img {
		width: 100%;
		height: auto;
		border-radius: 6px;
	}
}

@media (min-width: 550px) {
	.info-content {
		&__body {
			flex-direction: row;
			justify-content: space-between;
			gap: 20px;
		}
		&__text-body {
			max-width: 312px;
			min-width: 288px;
		}
		&__img {
			margin: 0;
		}
	}
}
@media (min-width: 768px) {
	.info-content{
		&__body {
			display: flex;
			justify-content: space-between;
			gap: 50px;
		}
		&__text-body {
			min-width: 312px;
			max-width: 500px;
		}
	}
}

@media (min-width: 1120px) {
	.info-content {
		&__body {
			gap: 37px;
		}
		&__text-body {
			min-width: 500px;
		}
	}
}