@font-face {
	font-family: TTLakes;
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/TTLakes-Regular.ttf') format('ttf'),
		url('../../fonts/TTLakes-Regular.woff') format('woff');
}
@font-face {
	font-family: TTLakes;
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/TTLakes-Medium.ttf') format('ttf'),
		url('../../fonts/TTLakes-Medium.woff') format('woff');
}
@font-face {
	font-family: TTLakes;
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/TTLakes-Bold.ttf') format('ttf'),
		url('../../fonts/TTLakes-Bold.woff') format('woff');
}
