:root {
  --color-white: #ffffff;
  --color-lite-green: #d9fff5;
  --color-green: #b8ffec;
  --color-dark-green: #41f6d7;
  --color-grey: #7e7e82;
  --color-light-gray: #eaeaea;
  --color-dark: #1b1c21;
  --bg-color: #f8f8f8;
  --color-tomato: #ff3e79;
	--bulet-color-active: #b5b6bc;
	--bulet-color: #b5b6bc;
}

$fz12: 12px;
$fz: 16px;
$fz14: 14px;
$fz24: 24px;
$fz28: 28px;

$lh114: 114.286%;
$lh128: 128.571%;
$lh133: 133.333%;
$lh142: 142.857%;
$lh150: 150%;
$lh200: 200%;

$ls-06: -0.6px;
$ls-02: -0.2px;
$ls-015: -0.15px;
$ls02: 0.2px;

